<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Daily Blog</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/styles.css">

  </head>

    <nav>

      <p>DAILY JOURNAL</p>

      <ul>
        <li><a href="/">HOME</a></li>
        <li>ABOUT</li>
        <li>CONTACT</li>
      </ul>

    </nav>

  <body>








    <!-- <nav>

          <p>DAILY JOURNAL</p>


          <li><a>HOME</a></li>
          <li><a>ABOUT US</a></li>
          <li><a>CONTACT US</a></li>

    </nav> -->
